[Desktop Entry]
Type=Application
Name=PryanetShareInviteOpener
Exec=pryanetshare open %U
Terminal=false
MimeType=application/x-pryanetshare;x-scheme-handler/pryanetshare;
NoDisplay=true
