[Desktop Entry]
Type=Application
Name=PryanetShare
Exec=pryanetshare start
Icon=pryanetshare
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
